<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/bhban_ai@web/img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>수학, 통계를 몰라도 이해할 수 있는 쉬운 딥러닝</h5>
            <h6>비전공자도 볼 수 있는 최초의 딥러닝 입문서</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=19007726" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=269891239" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/99552196" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode=9788970504872&orderClick=LAG&Kc=" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
            <a href="https://github.com/needleworm/bhban_ai/archive/master.zip" class="page-scroll">
                <button class="btn btn-xl">전체 코드 다운로드</button>
            </a>
      </div>
    </div>
  </section>
