<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>시간순삭 딥러닝 (가제)</h5>
            <h6>책설명</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=17665326" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=17665326" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=17665326" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://book.naver.com/bookdb/book_detail.nhn?bid=17665326" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
