<!-- markets -->
<section  id="part4" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        제3편 인간의 기억력을 흉내 낸 인공지능 - LSTM
      </h3>
        <h4><a href="https://github.com/needleworm/bhban_ai/archive/part4.zip" >4편 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
        <div>
            <h4 class="chapterTitle">11장 자연어 학습 인공지능</h4>
            <ul class="chapterContent">
                <li>AI는 스팸 문자를 걸러낼 수 있을까?
                  <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/4_11_1.zip">
                      <i class="fas fa-external-link-alt"></i>
                  </a>
              </li>
                <li>장기 기억과 단기 기억, LSTM</li>
                <li>LSTM AI는 얼마나 성능이 뛰어날까?
                  <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/4_11_3.zip">
                      <i class="fas fa-external-link-alt"></i>
                  </a>
              </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">12장 LSTM 활용하기</h4>
            <ul class="chapterContent">
                <li>[기상 AI] LSTM을 활용한 일기예보
                  <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/4_12_1.zip">
                      <i class="fas fa-external-link-alt"></i>
                  </a>
              </li>
                <li>[금융 AI] LSTM을 활용한 주가예측
                  <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/4_12_2.zip">
                      <i class="fas fa-external-link-alt"></i>
                  </a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
