<!-- markets -->
<section  id="part3" >
    <div class="container" style="text-align:center;">
      <h3>
        제3편 인간의 뇌세포를 흉내 낸 인공지능 - FNN
      </h3>
        <h4 ><a href="https://github.com/needleworm/bhban_ai/archive/part3.zip" >3편 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
        <div>
            <h4 class="chapterTitle">8장 이미지 분류(Classification) 기법 활용하기</h4>
            <ul class="chapterContent">
                <li>AI는 손글씨를 인식할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_8_1.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 사물을 구분할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_8_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>시각적 정보 학습의 달인, CNN을 소개합니다!</li>
                <li>CNN AI는 사물을 구분할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_8_4.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 사람과 말을 구분할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_8_5.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 가위바위보를 할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_8_6.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">9장 이미지 학습 기법 활용하기</h4>
            <ul class="chapterContent">
                <li>AI는 거장의 화풍을 따라할 수 있을까? - Style Transfer
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_9_1.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 창의력을 발휘할 수 있을까? - GAN
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_9_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 현실 세계의 사물을 이해할 수 있을까? -Object Detection
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_9_3.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 사진을 완벽하게 이해할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_9_4.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">10장 CNN 활용하기</h4>
            <ul class="chapterContent">
                <li>[의료 AI] 현미경 영상 분석을 통한 암 진단
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_10_1.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>[의료 AI] 현미경 영상 분석을 통한 세포 종류 진단
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_10_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>[의료 AI] 흉부 CT 영상 분석을 통한 폐암 진단
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/3_10_3.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
      </div>
    </div>
  </section>
