<!-- markets -->
<section  id="part2" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        제2편 인간의 뇌세포를 흉내 낸 인공지능 - FNN
      </h3>
        <h4 ><a href="https://github.com/needleworm/bhban_ai/archive/part2.zip">2편 예제코드 다운로드 
            <i class="fas fa-external-link-alt"></i>
        </a></h4>
        <div>
            <h4 class="chapterTitle">4장 인공신경망과 딥러닝</h4>
            <ul class="chapterContent">
                <li>통계와 머신러닝</li>
                <li>뇌세포를 모방한 기계, 퍼셉트론</li>
                <li>인공신경망과 딥러닝</li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">5장 분류(Classification) 기법 활용하기</h4>
            <ul class="chapterContent">
                <li>AI는 체격을 보고 초·중·고등학생을 구분할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/2_5_1.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>AI는 꽃을 구분할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/2_5_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">6장 회귀(Regression) 기법 활용하기</h4>
            <ul class="chapterContent">
                <li>분류와 회귀의 차이는 무엇일까?</li>
                <li>AI는 체격만 보고 체중을 추론할 수 있을까?
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/2_6_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">7장 FNN 활용하기</h4>
            <ul class="chapterContent">
                <li>[의료 AI] 유전자 분석을 통한 암 진단
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/2_7_1.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>[의료 AI] BMI(비만도) 분석을 통한 키, 체중 추론 AI
                    <a href="https://github.com/needleworm/bhban_ai/archive/refs/heads/2_7_2.zip">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
