<!-- markets -->
<section  id="part1" >
    <div class="container" style="text-align:center;">
      <h3>
        제1편 <i class="fab fa-python"></i> 파이썬 준비하기
      </h3>
        <div>
            <h4 class="chapterTitle">1장 <i class="fab fa-python"></i> 파이썬 개발환경 구축하기</h4>
            <ul class="chapterContent">
                <li>
                    <i class="fab fa-python"></i> 파이썬이란?
                </li>
                <li>
                    아나콘다 설치하기 <a href="https://www.anaconda.com/products/individual#Downloads"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    파이참<a href="https://www.jetbrains.com/ko-kr/pycharm/download/#section=windows"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a>과 Git<a href="https://gitforwindows.org/"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a> 설치하기
                </li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">2장 딥러닝을 위한 <i class="fab fa-python"></i> 파이썬 기초학습</h4>
            <ul class="chapterContent">
                <li>사칙연산</li>
                <li>변수</li>
                <li>자료형</li>
                <li>함수</li>
            </ul>
        </div>
        <hr/>
        <div>
            <h4 class="chapterTitle">3장 딥러닝을 위한 환경 구축하기</h4>
            <ul class="chapterContent">
                <li>
                    GPU 활용을 위한 환경 구축하기 <a href="https://www.nvidia.co.kr/Download/index.aspx?lang=kr"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a><a href="https://developer.nvidia.com/downloads"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </li>
                <li>
                    딥러닝 라이브러리<a href="https://www.tensorflow.org/"  target="_blank" rel="noreferrer">
                        <i class="fas fa-external-link-alt"></i>
                    </a>와 예제 코드<a href="https://github.com/needleworm/bhban_ai"  target="_blank" rel="noreferrer">
                        <i class="fab fa-github"></i>
                    </a> 설치하기
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
